In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/Ro-Data/Ro-Census-Summaries-By-Zipcode/master/rural_urban.txt'
df = pd.read_csv(url, sep = '\t')
df

,ZCTA5,urban_rural-population-total_population,urban_rural-population-urban_total_population,urban_rural-population-rural_total_population,urban_rural-percent-urban_population-of-total_population,urban_rural-percent-rural_population-of-total_population
0,601,18570,10679,7891,0.575,0.425
1,602,41520,41520,0,1.000,0.000
2,603,54689,54646,43,0.999,0.001
3,606,6615,2697,3918,0.408,0.592
4,610,29016,25640,3376,0.884,0.116
...,...,...,...,...,...,...
33115,99923,87,0,87,0.000,1.000
33116,99925,819,0,819,0.000,1.000
33117,99926,1460,0,1460,0.000,1.000
33118,99927,94,0,94,0.000,1.000
33119,99929,2338,0,2338,0.000,1.000

In [3]:
df.groupby('ZCTA5').mean()

,urban_rural-population-total_population,urban_rural-population-urban_total_population,urban_rural-population-rural_total_population,urban_rural-percent-urban_population-of-total_population,urban_rural-percent-rural_population-of-total_population
ZCTA5,,,,,
601,18570.0,10679.0,7891.0,0.575,0.425
602,41520.0,41520.0,0.0,1.000,0.000
603,54689.0,54646.0,43.0,0.999,0.001
606,6615.0,2697.0,3918.0,0.408,0.592
610,29016.0,25640.0,3376.0,0.884,0.116
...,...,...,...,...,...
99923,87.0,0.0,87.0,0.000,1.000
99925,819.0,0.0,819.0,0.000,1.000
99926,1460.0,0.0,1460.0,0.000,1.000
99927,94.0,0.0,94.0,0.000,1.000
99929,2338.0,0.0,2338.0,0.000,1.000

In [4]:
df['ZCTA5'].value_counts()

601      1
63730    1
63782    1
63781    1
63780    1
        ..
33921    1
33920    1
33919    1
33917    1
99929    1
Name: ZCTA5, Length: 33120, dtype: int64

In [5]:
df['ZCTA5'].nunique()

33120

In [7]:
df.to_csv('df.csv')